/* fonts */

@font-face {
    font-family: "Lato";
    font-style: bold;
    font-size: 700;
    src: url(assets/fonts/Lato-Bold.ttf) format("ttf")
}

@font-face {
    font-family: "Lato";
    font-style: regular;
    font-size: 400;
    src: url(assets/fonts/Lato-Regular.ttf) format("ttf")
}

body {
    margin: 0;
    width: 1020px;
}

/* header */

.header {
    background-color: #2d303a;
    padding-top 29px;
    padding-bottom: 30px;
    border-bottom: 6px solid #323746;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.logo {
    font-size: 18.03 pt;
    font-family: "Lato", "Arial", "Times New Roman", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.logo__star {
    color: #f06c64;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0px;
}

.navigation_items {
    font-family: "Lato", "Arial", "Times New Roman", sans-serif;
    font-size: 8.66pt;
    font-weight: bold;
    text-transform: uppercase;
    list-style: none;
    vertical-align: bottom;
    padding-left: 28px;
    letter-spacing: -0.02em;
    line-height: 15px;
}

.navigation_items a {
    text-decoration: none;
    color: #ffffff;
}

.navigation_items a:hover {
    color: #f06c64;
    cursor: pointer;
}

.navigation_items a:active {
    color: #f06c64;
}

/* slider */

